*{
    font-family: "Lato";
}

.titulo{
    font-weight: bold;
}

ion-img{
    width: 80%;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

h2{
    margin-left: 1.2em;
    font-weight: bold;
}    

h3{
    width: 80%;
    margin: auto;
}

p{
    width: 80%;
    margin: auto;
    font-size: 1em;
    line-height : 1.5em;
}