<ion-content [fullscreen]="true" class="fondo-buscador">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img class="logo-inicio" src="../assets/img/logo-devjobs-blanco-azul.png" alt="logo DevJobs"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center ion-text-uppercase ion-margin texto-principal">
          <h3 class="bree sombra">Ofertas de empleo en las mejores empresas tecnológicas</h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form>
          <ion-input name="terminosbusqueda" [(ngModel)]="terminosbusqueda" type="text" placeholder="Empleo o empresa"></ion-input>
          <!-- <ion-input name="localizacion" [(ngModel)]="localizacion"  type="text" placeholder="Madrid"><ion-icon name="location-outline" class="input-icon"></ion-icon></ion-input> -->
          <ion-button type="submit" id="boton-buscar" class="bree ion-text-uppercase boton-ancho" (click)="getResultados()">Buscar</ion-button>
        </form>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
