ion-tabs >ion-icon{
    width: 300px;
}

ion-toolbar{
    --background:#E6E6E6;
}

ion-list {
    padding: 0;
    margin: 0;
}

ion-title h3 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}