<ion-header [translucent]="true" >
  <ion-toolbar class="fondo-contrasena">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/bienvenida-inicio"></ion-back-button>
    </ion-buttons>
    <div class="fondo-gris">
      <ion-img class="logoGastroToolbar" src="../assets/img/logo-devjobs-color.png" alt="logo DevJobs"></ion-img>
    </div> 
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScrollEnd)="scrollingEnd($event)" (ionScrollStart)="scrollingStart($event)">
  <ion-grid>
    <ion-row>
      <ion-title class="ion-text-center">
        <h3 class="bree heading">{{ofertasTotales}} ofertas encontradas</h3>        
      </ion-title>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let oferta of ofertasMostradas" (click)="visitaDetalle()" [routerLink]="['/resultados-busqueda', (ofertasMostradas.indexOf(oferta))]">    
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="titulo-oferta">
            {{oferta.titulo}}
          </ion-col>
        </ion-row>

        <!-- DATOS oferta -->
        <ion-row>
          <ion-col>
            <ion-badge *ngIf="oferta.sector"  class="datos-resumen-oferta sector-oferta" color="secondary">{{oferta.sector}}</ion-badge>           
            <div *ngIf="oferta.empresa" class="datos-resumen-oferta"><span class="id-empresa">{{oferta.empresa}}</span></div>
            <div *ngIf="oferta.localidad" class="datos-resumen-oferta">
              <ion-icon name="location"></ion-icon>
              {{oferta.localidad}}
            </div>
            <div *ngIf="oferta.fecha_alta" class="datos-resumen-oferta">
              <ion-icon name="time"></ion-icon>
              Desde {{oferta.fecha_alta}}
            </div>
            <div *ngIf="oferta.salario" class="datos-resumen-oferta">
              <ion-icon name="logo-euro"></ion-icon>
              {{oferta.salario}}
            </div>
            <div *ngIf="oferta.jornada" class="datos-resumen-oferta">
              <ion-icon name="calendar"></ion-icon>
              Jornada {{oferta.jornada}}
            </div>
          </ion-col>
        </ion-row>  
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="10%" (ionInfinite)="onScrollBottom($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cocinando más ofertas...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab [hidden]="botonOculto" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>