<ion-header [translucent]="true">
    <div class="fondo-blanco">
      <ion-img class="logoGastroToolbar" src="../assets/img/logo-devjobs-color.png" alt="logo DevJobs"></ion-img>
    </div>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-gris">
  <ion-grid class="row-container">
    <ion-row>
      <ion-col>
        <p class="ion-text-center">
          <ion-text class="lato-light">Para ver o modificar tus datos</ion-text><br>
          <a href="https://www.DevJobs/acceso-candidatos/" class="ion-text-center bree ion-text-uppercase enlace-resaltado-gris">Visita nuestra web</a>
        </p>
        <!-- <ion-button type="button" class="bree ion-text-uppercase boton-ancho ion-margin" (click)="cerrarSesion()"  color="dark">Cerrar sesión</ion-button> -->
        <ion-button type="button" class="bree ion-text-uppercase boton-ancho ion-margin" [routerLink]="['/']"  color="dark">Cerrar sesión</ion-button>                
        <br><br><br>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
