<ion-header [translucent]="true">
    <div class="toolbarlogo">
      <ion-img class="logo-inicio" src="../assets/img/logo-navbar-candidatos-black.png" alt="logo gastroempleo.com"></ion-img>
    </div>    
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-title class="ion-text-center">
        <h3 class="bree">Mis ofertas</h3>
      </ion-title>
    </ion-row>
    <ion-row>
      <ion-col size="6"><ion-button class="bree" size="small" expand="block">Activas</ion-button></ion-col>
      <ion-col size="6" color="dark"><ion-button class="bree letra-blanca" size="small" expand="block" color="medium">Finalizadas</ion-button></ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let oferta of ofertas" >

      <ion-grid>
        <ion-row>
          <ion-col size="12" class="titulo-oferta">
            {{oferta.titulo}}
          </ion-col>
        </ion-row>
        <!--Segunda fila-->
        
        <ion-row>
          <ion-col>
            <ion-badge class="datos-resumen-oferta sector-oferta" color="secondary">{{oferta.id_sector}}</ion-badge>

            <ion-badge *ngIf="oferta.leido" class="datos-resumen-oferta sector-oferta" color="primary">Leído</ion-badge>
            <ion-badge *ngIf="!oferta.leido" class="datos-resumen-oferta sector-oferta" color="dark">No leído</ion-badge>

            <div class="datos-resumen-oferta">Fecha límite: {{oferta.fecha_limite_inscripcion}}</div>
            <div class="datos-resumen-oferta"><span class="id-empresa">{{oferta.id_empresa}}</span></div>
            <div class="datos-resumen-oferta">
              <ion-icon name="location-outline"></ion-icon>
              {{oferta.id_localidad}}
            </div>
            <div class="datos-resumen-oferta">
              <ion-icon name="time-outline"></ion-icon>
              Desde {{oferta.fecha_alta}}
            </div>
            <div class="datos-resumen-oferta">
              <ion-icon name="logo-euro"></ion-icon>
              {{oferta.salario}}
            </div>
            <div class="datos-resumen-oferta">
              <ion-icon name="calendar-outline"></ion-icon>
              Jornada {{oferta.id_jornada}}
            </div>
          </ion-col>
        </ion-row>  

      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>

