<ion-content [fullscreen]="true" class="fondo-buscador">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img class="logo-inicio" src="../assets/img/logo-navbar-candidatos-white.png" alt="logo gastroempleo.com"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center ion-text-uppercase ion-margin texto-principal">
          <h3 class="bree">Encuentra trabajo en las mejores empresas</h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form>
          <ion-input type="text" placeholder="Empleo o empresa"></ion-input>
          <ion-input type="text" placeholder="Madrid"><ion-icon name="location-outline" class="input-icon"></ion-icon></ion-input>
          <ion-button type="submit" class="bree ion-text-uppercase boton-ancho" [routerLink]="['/resultados-busqueda']">Buscar</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
