.label-datos {
    margin-left: 5%;
}

ion-input:not(.contrasenia) {
    margin-bottom: 10%;
}

ion-textarea {
    margin: 5% 0 10% 4%;
}

.foto-perfil {
    width: 50%;
    margin: 15px auto ;
}

p.texto-pequenio {
    margin-top: 0px;
    color: --ion-color-dark;
}

#enlace-eliminar-perfil{
    margin-bottom: 50px;
}

ion-input, ion-textarea {
    background-color: white !important;
    border: 0px;
}

ion-label {
    display: block;
}