.toolbarlogo{
    background-color: white;
}

ion-img.logoGastroToolbar{
    width: 50%;
    margin: auto;
}

.label-datos {
    margin-left: 5%;
}

ion-input {
    margin-bottom: 10%;
}

.foto-perfil {
    width: 50%;
    margin: 15px auto ;
}