@font-face {
    font-family: 'Bree Serif';
    src: url('assets/fonts/BreeSerifRegular.ttf');
    font-weight: 200;
    font-style: normal;
  }
 
  @font-face {
    font-family: 'Lato';
    src: url('assets/fonts/LatoRegular.ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    src: url('assets/fonts/LatoLight.ttf');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    src: url('assets/fonts/LatoBold.ttf');
    font-weight: 700;
    font-style: normal;
  }