/** estilos generales **/
.bree {
    font-family: 'Bree Serif';
  }
  
  .lato-light {
    font-family: 'Lato';
    font-weight: 300;
  }
  
  .fondo-gris {
    --background: #E6E6E6;
  }
  
  .input-icon {
    margin-left: 2%;
  }
  
  .boton-ancho {
    width: 100%;
    font-size: 1.5em;
    height: 2em;
    width: 90% !important;
    margin-left: 5%;
  }

  ion-button.boton-gris-oscuro {
    background-color:#4D4D4D !important;
    width: 100%;
    font-size: 1.5em;
    height: 2em;
    width: 90% !important;
    margin-left: 5%;
  }
  
  .boton-login {
    background-color:#839F05;
    font-size: 1.5em;
    height: 2em;
    position: fixed;
    bottom: 2%;
    min-width: 60%;
    margin-left: 18%;
    border-radius: 5px;
  }
  
  .ios ion-button {
    --border-radius: 5px;
  }
  
  ion-input {
    width: 90% !important;
    margin-left: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    font-size: 1.1em;    
    border: 1px solid #f1f1f1 !important;
    background-color: white !important;
    --padding-start: 2%;
    --padding-end: 2%;
  }

  .enlace-resaltado-gris {
      width: 80%;
      margin: 0 0 0 25%;
      color: #4D4D4D;
      font-size: 1.5em;
      text-decoration: underline;
  }