/** estilos generales **/
.bree {
    font-family: 'Bree Serif';
  }
  
  .lato {
    font-family: 'Lato';
  }
  
  .fondo-gris {
    --background: #E6E6E6;
  }
  
  .input-icon {
    margin-left: 2%;
  }
  
  .boton-ancho {
    width: 100%;
    font-size: 1.5em;
    height: 2em;
    width: 90% !important;
    margin-left: 5%;
  }
  
  .boton-login {
    background-color:#839F05;
    font-size: 1.5em;
    width: 90% !important;
    height: 2em;
    position: fixed;
    bottom: 2%;
    min-width: 60%;
    margin-left: 19%;
    border-radius: 5px;
  }
  
  .ios ion-button {
    --border-radius: 5px;
  }
  
  ion-input {
    width: 90% !important;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    font-size: 1.1em;    
    border: 1px solid #f1f1f1 !important;
    background-color: white !important;
    --padding-start: 2%;
    --padding-end: 2%;
  }

  