/** estilos generales **/
.bree {
  font-family: 'Bree Serif';
}

.lato-light {
  font-family: 'Lato';
  font-weight: 300;
}

.fondo-gris {
  --background: #E6E6E6;
}

/** FORMULARIOS **/
.input-icon {
  margin-left: 2%;
}

ion-input, ion-textarea {
  width: 90% !important;
  margin-left: 5%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  font-size: 1.1em;    
  border: 1px solid #f1f1f1 !important;
  background-color: white !important;
  padding: 2%;
}


.enlace-resaltado-gris {
  display: block;
  color: #4D4D4D;
  font-size: 1.5em;
  text-decoration: underline;
}

.texto-pequenio {
    font-size: 0.8em;
    margin-left: 5%;
}

ion-checkbox {
  margin-right: 10px;
}

.checkbox-container {   
  font-weight: 300; 
  display: flex;
  align-content: center;
}

.contenedor-centrar {
  display: flex;
  justify-content: center;
}

/** BOTONES **/

.boton-ancho {
  width: 100%;
  font-size: 1.5em;
  height: 2em;
  width: 90% !important;
  margin-left: 5%;
}

.boton-login {
  background-color:#839F05;
  font-size: 1.5em;
  height: 2em;
  position: fixed;
  bottom: 2%;
  min-width: 60%;
  border-radius: 5px;
}

.ios ion-button {
  --border-radius: 5px;
}


/** ESTILOS MIS OFERTAS **/

.datos-resumen-oferta {
  font-weight: 300;
  display: inline-block;
  margin: 0 0.6em 0.6em 0;    
}

.datos-resumen-oferta ion-icon {
  vertical-align: middle;
  position: relative;
  bottom: 0.1em;
  margin-right: 0.2px;
}

.titulo-oferta{
  font-family: "Lato";
  font-weight: 300;
  font-size: 1.4em;
  text-transform: uppercase;
  margin: 0 0 0.2em 0;
}

ion-badge.sector-oferta{
  position: relative;
  top: 0.2em;
  font-weight: 400;
  padding: 0.2em 0.6em;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin: 0 0.6em 0 0;
}

.id-empresa {
  font-size: 1.1em;
  font-weight: 400;
}

ion-item:not(:first-child) {
  margin-top: 0.5em;
}