*{
    font-family: "Lato";
}

.toolbar{
    background-color: #E6E6E6;

}

ion-img{
    width: 80%;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

ion-title{
    font-family: 'Lato';
    font-weight: bold;
}

ion-text{
    width: 75%;
    margin: auto;
   // padding: 1em;
    font-size: 1.4em;
    line-height : 1.5em;
}