<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-img class="logo-inicio" src="../assets/img/logo-navbar.png" alt="logo gastroempleo.com"></ion-img>
    </ion-row>
    <ion-row>
      <h2>Textos Legales</h2>
    </ion-row>
    <br><br>
    <ion-row>
      <h3>
        I.- www.gastroempleo.com es 
        propiedad de WEB PROJECT 
        INVESTMENTS S.L., con CIF 
        B86361839 y domicilio social , Calle 
        Covarrubias 22, 28010 Madrid 
      </h3>
    </ion-row>

    <br>
    <ion-row>
      <p>
        Nuestros datos de contacto son los siguientes:
      </p>
    </ion-row>
    
    <br>
    <ion-row>
      <p>
        Correo electrónico de contacto: info@gastroempleo.com y webprojectinvestments@gmail.com
      </p>
    </ion-row>

    <br>
    <ion-row>
      <p>
        A fin de regular las condiciones de
          uso de esta Web es por lo que como
          predisponente redacta las presentes 
          normas de uso y contratación de servicios.
      </p>
    </ion-row>
    
    <br>
    <ion-row>
      <h3>
        II.- Uso de la Web.
      </h3>
    </ion-row>
    
    <br><br>
    <ion-row>
      <p>
        La mera visita a nuestra Web por
        parte del usuario supone la
        aceptación de las presentes normas.
      </p>
    </ion-row>

    <br>
    <ion-row>
      <p>
        En cuanto al uso de este Sitio Web
        nos reservamos el derecho a 
        actualizar, modificar o eliminar la 
        información contenida, pudiendo 
        incluso limitar o no permitir el acceso 
        a dicha información, sin previo aviso. 
      </p>
    </ion-row>
 
    <br>
    <ion-row>
      <p>
        Con carácter general, los usuarios 
        podrán acceder a este portal de 
        forma libre y gratuita.
      </p>
    </ion-row>

    <br>
    <ion-row>
      <p>
        De igual forma el derecho a eliminar, 
        limitar o impedir el acceso a su web 
        cuando surjan dificultades técnicas 
        por hechos o circunstancias ajenos a 
        nosotros que, a nuestro criterio, 
        disminuyan o anulen los niveles de 
        seguridad adoptados para el 
        adecuado funcionamiento de la web.
      </p>
    </ion-row>

  </ion-grid>

</ion-content>
