<ion-header [translucent]="true" >
  <ion-toolbar class="fondo-login">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/bienvenida-inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-row>
    </ion-row>

<ion-content [fullscreen]="true" class="fondo-login">
  <ion-grid class="row-container">
    <ion-row class="row-top">
      <ion-col>
        <ion-img class="logo-inicio" src="../assets/img/logo-devjobs-color.png" alt="logo DevJobs"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="row-bottom">
      <ion-col>
        <form #f="ngForm" (ngSubmit)="login(f)" novalidate>
          <ion-input type="email" name="email" placeholder="Email" required minlength="8" [(ngModel)]="formData.email" #emailCtrl="ngModel" class="ion-margin"></ion-input>
          <ion-text *ngIf="!emailCtrl.valid && emailCtrl.touched" color="danger" class="validador">Debes introducir un email válido</ion-text>
          
          <ion-input type="password" name="password" placeholder="Contraseña" required [(ngModel)]="formData.password" #passwordCtrl="ngModel" class="ion-margin"></ion-input>
          <ion-text *ngIf="!passwordCtrl.valid && passwordCtrl.touched" color="danger" class="validador">Debes introducir una contraseña válida</ion-text>
          <ion-text *ngIf="formData.errorAcceso" color="danger" class="validador">Error en inicio de sesión</ion-text>

          <div class="ion-margin checkbox-container">
            <ion-toggle name="recordarUsuario" [(ngModel)]="formData.recordarUsuario"></ion-toggle><ion-label>Recordar email y contraseña</ion-label><br>
          </div>

          <!-- <ion-button type="submit" id="boton-buscar" class="bree ion-text-uppercase boton-ancho" [disabled]="!f.valid">Iniciar sesión</ion-button> -->
          <ion-button type="submit" id="boton-buscar" class="bree ion-text-uppercase boton-ancho">Iniciar sesión</ion-button>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text *ngIf="formData.errorAcceso" color="danger" class="validador">Puede que estés introduciendo un email o contraseña erróneos, o que aún no estés registrado con nosotros.</ion-text>
        <a class="ion-margin ion-text-center enlace-recuperacion-contrasenia" href="https://www.DevJobs/ayuda/candidato/recuperar-pass/">Recuperar contraseña</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- <a class="ion-text-center ion-text-uppercase bree enlace-resaltado-gris" [routerLink]="['/registro']">Registrarme</a> -->
        <a class="ion-text-center ion-text-uppercase bree enlace-resaltado-gris" href="https://www.DevJobs/acceso-candidatos/">Registrarme</a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
