<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/resultados-busqueda"></ion-back-button>
    </ion-buttons>
    <ion-img class="logoGastroToolbar" src="../assets/img/logo-navbar-candidatos-black.png" alt="logo gastroempleo.com"></ion-img>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="navegador-ofertas">
    <div class="icono-anterior">
      <a><ion-icon id="anterior" name="chevron-back-circle-outline"></ion-icon></a>
    </div>
    <div class="n-ofertas">
      <ion-title class="ion-text-center">   
        <h4 class="bree">Resultados: 1 de 144</h4>
      </ion-title>
    </div>
    <div class="icono-siguiente">
      <a><ion-icon id="siguiente" name="chevron-forward-circle-outline"></ion-icon></a>
    </div>
  </div>
  <ion-grid>
    <ion-row>      
      <ion-title class="titulo-detalle-oferta">Jefe de cocina</ion-title>
    </ion-row>
    <ion-row class="cabecera">
      <ion-col>      
        <ion-badge class="sector-oferta datos-resumen-oferta" color="secondary">Cocina</ion-badge>
        <div class="datos-resumen-oferta id-empresa">Restaurante Verde Oliva</div>
        <div class="datos-resumen-oferta"><ion-icon name="location"></ion-icon>Madrid</div>
        <div class="datos-resumen-oferta"><ion-icon name="time"></ion-icon>Hace 23 horas</div>
      </ion-col>
    </ion-row>
    <ion-row class="resumen">
      <ion-col>      
      <h1>Resumen</h1>
      <div class="contenedor-resumen-oferta">
        <ul>
        <li><ion-text class="item-dato-oferta">Referencia: </ion-text>#58276</li>
        <li><ion-text class="item-dato-oferta">Sector: </ion-text>Cocina</li>
        <li><ion-text class="item-dato-oferta">Tipo de contrato: </ion-text>Indefinido</li>
        <li><ion-text class="item-dato-oferta">Tipo de jornada: </ion-text>Completa</li>
        <li><ion-text class="item-dato-oferta">Salario: </ion-text>1200-2000</li>
        <li><ion-text class="item-dato-oferta">Fecha alta: </ion-text>12-05-2020</li>
        <li><ion-text class="item-dato-oferta">Fecha limite de inscripción: </ion-text>15-06-2020</li>
        </ul>
      </div>

      <h1>Descripción</h1>
      <div class="contenedor-descripcion-oferta">
      <p>Buscamos JEFE DE COCINA para la localidad de Úbeda provincia de Jaén, con al menos 2 años de experiencia en puesto similar. Imprescindible capacidad de organización, resolución y liderazgo.</p>

      • Elaboración de la oferta gastronómica<br>
      • Dirigir, supervisar y planificar el conjunto de actividades de la cocina.<br>
      • Asegurar el cumplimiento de los objetivos marcados.<br>
      • Gestión de costes e inventarios <br>
      • Tener informada la Dirección de las incidencias y novedades. <br>
      • Coordinar el trabajo de todo el equipo de cocina diariamente <br>
      • Promover la comunicación interna. <br>
      • Coordinar los procesos de control de inventarios, pedidos y fichas técnicas. <br>
      • Supervisar las existencias de los productos disponibles en la cocina. <br>
      • Realizar controles periódicos del almacenamiento, manipulación y rendimiento de los productos de la de (APPCC). <br>
      • Almacenar y manipular correctamente todo el material de la cocina. <br>
      • Supervisar el cumplimiento de la normativa interna de la empresa.<br>
      • Garantizar el nivel de calidad marcado.<br>
      • Asegurar, dentro de su gestión, la satisfacción del cliente. <br>
      • Coordinar y supervisar la limpieza de la cocina y toda su maquinaria.
    </div>  
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar class="footer">
    <ion-buttons>
      <ion-button class="bree">Inscribirme</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
