 ion-img{
     width: 80%;
     margin: auto;
 }
 
 .fondo-login{
    --background: #E6E6E6;
  }
  

  ion-input{
    width: 90%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
    font-size: 1.1em;    
    border: 1px solid #f1f1f1 !important;
    --background: white;
    --padding-start: 2%;
    --padding-end: 2%;
  }

  ion-checkbox{
      width: 1.5em;
      height: 1.5em;
      margin-right: 1em;
  }

  