<ion-header [translucent]="true" >
  <ion-toolbar class="fondo-login">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-row>
    </ion-row>

<ion-content [fullscreen]="true" class="fondo-login">
  <ion-grid class="row-container">
    <ion-row class="row-top">
      <ion-col>
        <ion-img class="logo-inicio" src="../assets/img/logo-navbar-candidatos-black.png" alt="logo gastroempleo.com"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="row-bottom">
      <ion-col>
        <form>
          <ion-input type="text" placeholder="Nombre" class="ion-margin"></ion-input>
          <ion-input type="text" placeholder="Email" class="ion-margin"></ion-input>
          <ion-input type="text" placeholder="Contraseña" class="ion-margin"></ion-input>
          <ion-input type="text" placeholder="Repite tu contraseña" class="ion-margin"></ion-input>
          <div class="ion-margin checkbox-container">
            <ion-checkbox  ></ion-checkbox ><ion-text> Recordar email y contraseña</ion-text><br>
          </div> 
          <div class="ion-margin checkbox-container"> 
            <ion-checkbox ></ion-checkbox><ion-text> Acepto los <a href="/textos-legales"> términos y condiciones </a> de gastroempleo</ion-text>
          </div>
            <ion-button type="submit" id="boton-buscar" class="bree ion-text-uppercase boton-ancho" [routerLink]="['']">Registrarme</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
